
html {
    height: 100%;
    width: 100%;
   
}

.dynalight-regular {
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
  }

header {
   
}

body {
    background-color: white;
    /* 
    background: linear-gradient(180deg, rgba(102, 67, 63, 1), rgba(102, 67, 63, 0.7)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    */    
}
#colOne,
#colTwo {
    background-color: rgba(0,0,0,0.03);
  
}

footer {
    background-color: #817A81;
}

/* Navbar */

#mynavbar {
  background-color:white;
}
.navbar-brand {
    color: black;
}

.nav-link {
 
}

.nav-link:hover {
    color: white;
}
/* Navbar */





