html {
    height: 100%;
    width: 100%;
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgba(0, 0, 0, 1);
    width: 95%;
    margin: auto;
}

header {
    background-color: black;
}

h2,
h3 {
    opacity: 90%;
}

#colOne,
#colTwo {
    padding: 15px;
}

footer {
    padding: 1px;
}


/* Navbar Styling */

.navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
}

.navbar-nav {
    border-radius: 5px;
    padding: 5px;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
    color: white;
}


/* Navbar Icon Styling */

.fa-house,
.fa-camera,
.fa-envelope {
    color: rgba(255, 255, 255, 0.8) !important;
}

.fa-house:hover,
.fa-camera:hover,
.fa-envelope:hover {
    color: rgba(255, 255, 255, 1) !important;
}

#homeActive,
#galleryActive,
#contactActive {
    color: rgb(133, 30, 30) !important;
}